 </div>
       <footer>
            <div id="footer-quote">
                <div class="container">
                    <div class="contents">

                    </div>
                </div>
            </div>
            <div id="bottom">
                <div class="container">
                    <ul id="social-icons">
                        <li><a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/xebia" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-github"></i></a></li>
                    </ul>
                    <div id="copyright">© COPYRIGHT 2015 @Xebia.  ALL RIGHTS RESERVED</div>
                    <a id="home-circle" href="{{site.url}}"><i class="fa fa-home"></i></a>
                </div>
            </div>
       </footer>
       {% include ga.html %}
       <script type="text/javascript" src="{{site.url}}/js/jquery-1.11.0.min.js"></script>
       <script type="text/javascript" src="{{site.url}}/js/bootstrap.min.js"></script>
       <script type="text/javascript" src="{{site.url}}/js/custom.js"></script>
    </body>
</html>
